#search-bar {
    display: inline;
    width: 100%;
    height: 50px;
    color: rgb(209, 160, 255);
    font-size: 16px;
    border-radius: 25px;
    border: 1px solid #4d0c47;
    margin-bottom: 10px;
    text-align: center;
}

#search-button {
    background-color: #651e5e;
    font-weight: 600;
    letter-spacing: 1.2px;
    color: white;
    display: inline;
    width: 50%;
    height: 40px;
    border-radius: 40px;
    border: 1px solid #4d0c47;
}

#search-button:hover {
    background-color: white;
    color: #4d0c47;
    transition: all 300ms;
}

#search-button:active {
    background-color: rgb(173, 140, 170);
    transition: all 100ms;
}